.link {
  color: hsl(219deg 95% 35%);
  font-size: 0.8rem;
}

.root {
  flex-flow: wrap row;
  height: 80%;
  margin: 5%;
  min-height: 105px;
  min-width: 105px;
  padding-bottom: 0;
  padding-top: 0;
  width: 40%;
}

.header {
  flex: 2 1 auto;
  flex-wrap: wrap;
}

.ellipsis {
  font-size: 0.8vw !important;
  margin-bottom: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.centerFigure {
  margin: auto;
}

.headerContent {
  flex: 1 1 100%;
  overflow: hidden;
}

.cardBody {
  flex-flow: column;
}

.description {
  border-top: 1px solid hsl(0deg 0% 93%);
  flex: 1 0 auto;
}

.iconFallback {
  font-size: 1.5rem;
  height: 64px;
  width: 64px;
}

.versionNr {
  font-size: 0.5rem;
  text-align: left;
}
