.blockList {
  align-items: center;
  display: grid;
  flex-flow: row wrap;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-around;
  margin: 0 auto;
  max-width: 960px;
}
